.sword{
   background-image: url("/home/hariprashath/Documents/js/assignment2js/assets/picture/pngimg.com - sword_PNG5517.png");
    background-size: cover;
    padding: 50px;
}
.horse{
    background-image: url("/home/hariprashath/Documents/js/assignment2js/assets/picture/63dfe49d72df38001c5175bc.jpg");
     background-size: cover;
padding: 50px;
}
.roar{
    background-image: url("/home/hariprashath/Documents/js/assignment2js/assets/picture/Q9InuKGJSTqDOGwtUdAfRg.webp");
     background-size: cover;
padding: 50px;
}
.laugh{
    background-image: url("/home/hariprashath/Documents/js/assignment2js/assets/picture/stock-vector-scared-emoticon-holding-head-emoji-smiley-vector-illustration-530644381.jpg");
     background-size: cover;
  padding: 50px;  
}
body{
    background-color: rgb(24, 206, 206);
    margin: 50px 60px;
    padding:10px;
    text-align: center;
}